button,
a {
  border-radius: 5px;
  font-family: Gilroy;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

a:not(.button) {
  text-decoration: none;
  color: #47525e;

  &:hover,
  &:focus {
    color: #d37b53;
  }
}

a.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 1;
}

button.link {
  padding: 0;
  background: none;
  border: none;

  &:hover,
  &:focus {
    color: #d37b53;
  }
}

.style-button {
  border: 1px solid #d37b53;
  background-color: transparent;
  font-weight: bold;
  color: #d37b53;

  &:hover {
    background-color: #f4ebdd;
  }
  &:focus {
    background-color: #eddfca;
  }
  &:active {
    background-color: #e7d4b7;
  }
}

.style-button-filled {
  border: 1px solid #d37b53;
  background-color: #d37b53;
  font-weight: bold;
  color: #ffffff;

  &:hover {
    background-color: #ce6c3e;
    border-color: #ce6c3e;
  }
  &:focus {
    background-color: #c15f31;
    border-color: #c15f31;
  }
  &:active {
    background-color: #ad552c;
    border-color: #ad552c;
  }
}
