@import './buttons.scss';

@font-face {
  font-family: Gilroy;
  font-weight: normal;
  font-style: normal;
  src: url('~@/styles/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('~@/styles/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face {
  font-family: Gilroy;
  font-weight: bold;
  font-style: normal;
  src: url('~@/styles/fonts/Gilroy-Bold.woff2') format('woff2'), url('~@/styles/fonts/Gilroy-Bold.woff') format('woff');
}

html,
body,
#app {
  height: 100vh;
  min-width: 320px;
  background-color: #faf6f0;
}

#app,
::placeholder {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Gilroy;
  font-size: 16px;
  color: #47525e;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

// Hidden element for screen-reader
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
