@import './buttons.scss';

html,
body,
#app {
  height: 100vh;
  min-width: 320px;
  background-color: #faf6f0;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

// Hidden element for screen-reader
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
