button,
a {
  border-radius: 5px;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &.disabled,
  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

a:not(.button) {
  &:hover,
  &:focus {
    color: var(--color-main);
  }
}

a.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

button.link {
  padding: 0;
  background: none;
  border: none;

  &:hover,
  &:focus {
    color: var(--color-main);
  }
}

.style-button,
.style-button-filled,
.style-button-danger {
  width: 170px;
  height: 50px;
  font-size: 18px;

  @include media-size-mobile {
    width: 120px;
    height: 45px;

    &.mobile-wide {
      width: 100%;
    }
  }

  .icon {
    width: 32px;
    padding-right: 0.5rem;
  }
}

.style-button {
  border: 1px solid var(--color-main);
  background-color: transparent;
  font-weight: bold;
  color: var(--color-main);

  &:hover {
    background-color: var(--color-main-lightest);
  }
  &:focus {
    background-color: var(--color-main-lighter);
  }
  &:active {
    background-color: var(--color-main-light);
  }
}

.style-button-filled {
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
  font-weight: bold;
  color: #ffffff;

  &:hover {
    background-color: var(--color-main-dark);
    border-color: var(--color-main-dark);
  }
  &:focus {
    background-color: var(--color-main-darker);
    border-color: var(--color-main-darker);
  }
  &:active {
    background-color: var(--color-main-darkest);
    border-color: var(--color-main-darkest);
  }
}

.style-button-danger {
  border: 1px solid #dc3545;
  background-color: transparent;
  font-weight: bold;
  color: #dc3545;

  &:hover {
    background-color: var(--color-main-lightest);
  }
  &:focus {
    background-color: var(--color-main-lighter);
  }
  &:active {
    background-color: var(--color-main-light);
  }
}
