@import '~normalize.css';
@import './buttons.scss';
@import './transitions.scss';

@font-face {
  font-family: Gilroy;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('~@/styles/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('~@/styles/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face {
  font-family: Gilroy;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('~@/styles/fonts/Gilroy-Bold.woff2') format('woff2'), url('~@/styles/fonts/Gilroy-Bold.woff') format('woff');
}

:root {
  --color-bg: #faf6f0;
  --color-bg-light: #f5e6cc;
  --color-text-bg: #ffffff;
  --color-text: #47525e;
  --color-focus: #ffa500;
  --color-border: #e0e0e0;
  --color-main-lightest: #f2e8d9;
  --color-main-lighter: #ecddc6;
  --color-main-light: #e6d1b3;
  --color-main: #d6835c;
  --color-main-dark: #d17347;
  --color-main-darker: #cc6333;
  --color-main-darkest: #b85a2e;
}

[data-theme='dark'] {
  --color-bg: #191919;
  --color-bg-light: #272727;
  --color-text-bg: #222222;
  --color-text: #dddddd;
  --color-border: #292929;
  --color-main-lightest: #333333;
  --color-main-lighter: #262626;
  --color-main-light: #1a1a1a;
  --color-main: #cc6333;
  --color-main-dark: #b85a2e;
  --color-main-darker: #a35029;
  --color-main-darkest: #8f4624;
  .invert {
    filter: invert(0.8);
  }
}

html,
body,
#app {
  min-height: 100vh;
  min-width: 320px;
  background-color: var(--color-bg);
}

body.no-scroll {
  overflow: hidden;
}

#app,
::placeholder {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  color: var(--color-text);
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
}

input {
  border: 2px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-text-bg);
  color: var(--color-text);
  outline: 0;

  &:focus {
    border-color: var(--color-focus);
  }
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

// Hidden element for screen-reader
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.emoji {
  width: 1.5rem;
  vertical-align: -0.075em;
}
